.mainContaner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 206px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50vh;
}

.form {
  height: 40vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: gray;
  padding: 15px;
  padding-bottom: 25px;
  border-radius: 15px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}

.inputfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit {
  width: 100%;
}

.submit button {
  width: 100%;
  font-size: 20px;
  padding: 4px;
  border-radius: 20px;
  border: wheat;
  background-color: skyblue;
}

input[type="text"],
input[type="email"] {
  padding: 4px;
  font-size: 20px;
  border-radius: 20px;
  border: 2px solid black; /* corrected typo */
  text-align: center;
}

@media screen and (max-width: 480px) {
  .mainContaner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 454px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: gray;
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 0px;
  }
}
