.search-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search label {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search input {
  width: 100%;
  padding: 10px 15px;
  padding-left: 40px; /* Space for the icon */
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search input:focus {
  border-color: #007bff; /* Blue color when focused */
  box-shadow: 0 2px 6px rgba(0, 123, 255, 0.2);
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 400px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000px;
  max-height: 100px;
  overflow-y: auto;
  margin-top: 5px;
}

.search-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.search-item:hover {
  background-color: #f0f0f0;
}

.search-icon {
  position: absolute;
  left: 15px;
  color: #888;
  font-size: 20px;
}

.search-icon:hover {
  color: #007bff;
}

.no-results {
  padding: 10px;
  text-align: center;
  color: #888;
}

@media screen and (max-width: 500px) {
  .search {
    display: none;
  }

  .search label {
    display: none;
  }

  .search input {
    display: none;
  }

  .search-icon {
    display: none;
  }
}
